#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
    width: auto;
    min-height: 210px;
    margin: 0 0 0 0;
}

#footer {
    position: relative;
    top: 1092px;
    bottom: 0;
    width: 100%;
    height: 24rem;
    background-color: #132750;
    background-position: center;
}


.logoFooter {
    background-image: url("oneOKCorporateSusAssets/header/ONEOKLogoReversed.png");
    background-repeat: no-repeat;
    margin-top: 2.5em;
    margin-left: 4em;
    height: 109px;
    width: 356px;
    float: left;
}