.topnav {
    background-color: #0a1323;
    overflow: hidden;
    vertical-align: middle;
    position: relative;

}

.topnav a{
    float: right;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    margin-left: 1em;
    margin-bottom: 1em;
}

#myTopnav  {
    float:right;
    width:100%;
    background-color: #0a1323;
    padding:0px;

}
#myTopnav {
    float:right;
    background-color: #0a1323;
}

#myTopnav {
    cursor:pointer;
    list-style-type:none;
    display:inline-block;
}

#myTopnav a:hover{
    color: lightgreen;
 }

#myTopnav a {
    font-family:Roboto;
    text-decoration:none;
    color: RGB(242, 183, 87);
    margin-top: 1em;
    margin-right: 2em;
}


.hide {
    display: none;
    position: relative;
    margin-top: 1em;
    float: right;
    margin-right: 2em;
    border-radius: 12px
}

.caption {
    font-family:Roboto;
    text-decoration:none;
    color: RGB(242, 183, 87);
    font-weight: 500;
    font-size: 40px;
    position: absolute;
    margin-left: 25em;
    margin-top: 3em;
    float: right;
}



@media screen and (max-width: 1018px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}


@media screen and (max-width: 1018px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}topnav a.active {
     background-color: #0a1323;
 }

.topnav .icon {
    display: none;
}

@media screen and (max-width: 1018px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 1018px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}