
.messageButtonTop{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 300px;
    background: #18325C;
    border: 1px solid black;
    color: white;
    text-align: center;
    font: normal 1.6em/100px "Roboto";
    border-radius: 25px;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
 /* centering an abs div */
    position: absolute;
    top: 1070px;
    z-index: 99;
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: 0.9;
}

.moreButton{
    height: 35px;
    width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 2em auto;
    background: #6C6F72;
    border: 0.1px solid black;
    color: white;
    text-align: center;
    font: normal 1em/100px "Roboto";
    border-radius: 8px;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.moreButton a{
    color: #FFFFFF;
    text-decoration: none;
}

.text {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9em;
    margin-bottom: 9em;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0);
}

.overlayBlockQuote {
    background-image: url("oneOKCorporateSusAssets/page2/blockQuote.png");
    height: 254px;
    width: 232px;
    margin-left: 2em;
    margin-top: 2em;
    /* position an abs div */
    position: absolute;
    top: 1052px;
    z-index: 99;
    left: 0;
}

