
.logo {
    background-image: url("oneOKCorporateSusAssets/header/ONEOKLogoReversed.png");
    display: inline-block;
    margin-top: 2.5em;
    margin-left: 6em;
    height: 109px;
    width: 356px;
    float: left;
}

.banner {
    background-image: url("oneOKCorporateSusAssets/page1/BrandWindow_Banner.png");
    background-size: cover;
    height:1050px;
}

.sidenav {
    width: 350px;
    height: 350px;
    position: absolute;
    z-index: 1;
    top: 275px;
    left: 0px;
    background: #192742;
    overflow-x: hidden;
    opacity: 0.7;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.sidenav a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: inline-block;
    margin-top:0.5em;
    width: 300px;
    margin-left: 126px;
    text-align: left;
    line-height: 40px;
    opacity: 1;
}

.sidenav a:hover {
    color:lightgreen;
}

.caption{
    white-space: nowrap;
    position: absolute;
    right: 100px;
    top: 170px;
    margin-left: 50%;
    font-size: xx-large;
}

.downloadReportButton{
    font: normal 1.4em/100px "Roboto";
    height: 60px;
    width: 350px;
    background: #6C6F72;
    border: 0.1px solid white;
    color: white;
    text-align: center;
    border-radius: 8px;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 350px;
    right: 102px;
    opacity: 0.9;
}


@media only screen and (max-width: 1018px) {
    #caption {
        display: none;
    }
}

@media only screen and (max-width: 1018px) {
    #downloadReportButton{
        position: absolute;
        top: 650px;
        left: 8px;
        font: normal 1.1em/100px "Roboto";
        height: 50px;
        width: 340px
    }
}