

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.column {
    -ms-flex: 45%;
    flex: 45%;
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.column img {
    vertical-align: middle;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.topLeft {
    position: relative;
    top: 0;
    left: 0;
}

.topLeftButton {
    position: absolute;
    top: 72%;
    left: 27%;
}

.bottomLeft {
    position: relative;
    top: 0;
    left: 0;
}

.bottomLeftButton {
    position: absolute;
    top: 72%;
    left: 27%;
}

.topRight {
    position: relative;
    top: 0;
    left: 0;
}

.topRightButton {
    position: absolute;
    top: 72%;
    left: 27%;
}

.bottomRight {
    position: relative;
    top: 0;
    left: 0;
}

.bottomRightButton {
    position: absolute;
    top: 72%;
    left: 27%;
}

@media screen and (max-width: 1748px) {
    .column {
        -ms-flex: 48%;
        flex: 48%;
        max-width: 48%;
    }
    .topLeftButton {
        position: absolute;
        top: 71%;
        left: 27%;
    }

    .bottomLeftButton {
        position: absolute;
        top: 71%;
        left: 27%;
    }

    .topRightButton {
        position: absolute;
        top: 71%;
        left: 27%;
    }

    .bottomRightButton {
        position: absolute;
        top: 71%;
        left: 27%;
    }
}


@media screen and (max-width: 1680px) {
    .column {
        -ms-flex: 48%;
        flex: 48%;
        max-width: 48%;
    }
    .topLeftButton {
        position: absolute;
        top: 70.2%;
        left: 27%;
    }

    .bottomLeftButton {
        position: absolute;
        top: 70.2%;
        left: 27%;
    }

    .topRightButton {
        position: absolute;
        top: 70.2%;
        left: 27%;
    }

    .bottomRightButton {
        position: absolute;
        top: 70.2%;
        left: 27%;
    }
}

@media screen and (max-width: 1258px) {
    .column {
        -ms-flex: 48%;
        flex: 48%;
        max-width: 48%;
    }
    .topLeftButton {
        position: absolute;
        top: 69%;
        left: 27%;
    }

    .bottomLeftButton {
        position: absolute;
        top: 69%;
        left: 27%;
    }

    .topRightButton {
        position: absolute;
        top: 69%;
        left: 27%;
    }

    .bottomRightButton {
        position: absolute;
        top: 69%;
        left: 27%;
    }
}

@media screen and (max-width: 1027px) {
    .column {
        -ms-flex: 48%;
        flex: 48%;
        max-width: 48%;
    }
    .topLeftButton {
        position: absolute;
        top: 67%;
        left: 27%;
    }

    .bottomLeftButton {
        position: absolute;
        top: 67%;
        left: 27%;
    }

    .topRightButton {
        position: absolute;
        top: 67%;
        left: 27%;
    }

    .bottomRightButton {
        position: absolute;
        top: 67%;
        left: 27%;
    }
}

@media screen and (max-width: 834px) {
    .column {
        -ms-flex: 48%;
        flex: 48%;
        max-width: 48%;
    }
    .topLeftButton {
        position: absolute;
        top: 65.5%;
        left: 27%;
    }

    .bottomLeftButton {
        position: absolute;
        top: 65.5%;;
        left: 27%;
    }

    .topRightButton {
        position: absolute;
        top: 65.5%;
        left: 27%;
    }

    .bottomRightButton {
        position: absolute;
        top: 65.5%;
        left: 27%;
    }
}

@media screen and (max-width: 670px) {
    .column {
        -ms-flex: 48%;
        flex: 48%;
        max-width: 48%;
    }
    .topLeftButton {
        position: absolute;
        top:63%;
        left: 27%;
    }

    .bottomLeftButton {
        position: absolute;
        top:63%;
        left: 27%;
    }

    .topRightButton {
        position: absolute;
        top:63%;
        left: 27%;
    }

    .bottomRightButton {
        position: absolute;
        top:63%;
        left: 27%;
    }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 669px) {
    .column {
        -ms-flex: 90%;
        flex: 90%;
        max-width: 90%;
    }
    .topLeftButton {
        position: absolute;
        top:69.1%;
        left: 27%;
    }

    .bottomLeftButton {
        position: absolute;
        top:69.1%;
        left: 27%;
    }

    .topRightButton {
        position: absolute;
        top:69.1%;
        left: 27%;
    }

    .bottomRightButton {
        position: absolute;
        top:69.1%;
        left: 27%;
    }
}

@media screen and (max-width: 559px) {
    .column {
        -ms-flex: 90%;
        flex: 90%;
        max-width: 90%;
    }
    .topLeftButton {
        position: absolute;
        top:67%;
        left: 27%;
    }

    .bottomLeftButton {
        position: absolute;
        top:67%;
        left: 27%;
    }

    .topRightButton {
        position: absolute;
        top:67%;
        left: 27%;
    }

    .bottomRightButton {
        position: absolute;
        top:67%;
        left: 27%;
    }

}