.page5 {
    margin-top: 950px;
    padding: 30px;
    background-color: #f3f3f3;
}
.pg5inner{
    margin: 0 auto;
    max-width: 700px;
    height: 700px;
    background-color: #ccc;
    border-radius: 3px;
    align-content: center;
}

.page5Banner {
    background-image: url("oneOKCorporateSusAssets/page5/ETIbanner.png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 3375px;
    z-index: 99;
    margin: -2.3em auto;
    left: 0;
    background-repeat: no-repeat;

}

.EnergyTransistionInformationButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 300px;
    background: #18325C;
    border: 1px solid black;
    color: white;
    text-align: center;
    font: normal 1.2em/100px "Roboto";
    border-radius: 25px;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
    /* centering an abs div */
    position: absolute;
    z-index: 99;
    margin: -2.3em auto;
    left: 0;
    right: 0;
    opacity: 0.9;
}

#pg5Text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3800px;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: 0.5px 0.5px #ffffff;
}

.moreButton2{
    height: 35px;
    width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 36em auto;
    background: #6C6F72;
    border: 0.1px solid black;
    color: white;
    text-align: center;
    font: normal 1em/100px "Roboto";
    border-radius: 8px;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}


