
.page4 {
    margin: 6em;
    padding: 2px;
}

.selectorIMG {
    max-width: 100%;
    border-radius: 25px;
    height: auto;
    caption-side: inherit;
}

.CopyText{
    background-image: url("oneOKCorporateSusAssets/unSorted/DJSI Emblem/PNG/DJSI Emblem_All Black.png");
    width: 100%;
    height: 100%;
    position: absolute;
    top: 2375px;
    left: 116px;
    background-repeat: no-repeat;
    margin-bottom: 6em;
}

.CopyText h3{
    position: relative;
    top: 300px;
    width: 600px;
    float: left;
    text-align: left;
    font-size: x-large;
    margin-left: 2em;
    text-shadow: 1px 1px #000000;
}

#slideshow:after {
    display: table;
    clear: both;
}

#slideshow .selectorIMG  {
    float: left;
    margin: 0 -100% 0 0;
}

.ESGhighlightsButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 300px;
    background: #18325C;
    border: 1px solid black;
    color: white;
    text-align: center;
    font: normal 1.6em/100px "Roboto";
    border-radius: 25px;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
    /* centering an abs div */
    position: absolute;
    z-index: 99;
    margin: -1em auto;
    left: 0;
    right: 0;
    opacity: 0.9;
}

















@media screen and (max-width: 619px) {
    .ESGhighlightsButton {
        height: 47.8px;
        width: 168.7px;
        border-radius: 12px;
        font: normal 0.9em/100px "Roboto";
        margin: -0.5em auto;
    }
    .selectorIMG  {
        border-radius: 12px;
        border-radius: 20px;
    }
}

@media screen and (max-width: 656px) {
    .ESGhighlightsButton {
        height: 35.8px;
        width: 126.5px;
        border-radius: 12px;
        font: normal 0.9em/100px "Roboto";
    }
    .selectorIMG  {
        border-radius: 12px;
        border-radius: 22px;
    }
}







@media screen and (max-width: 2523px) {
    .CopyText {
        position: absolute;
        top: 2750px;
        left: 116px;
    }
}


@media screen and (max-width: 2322px) {
    .CopyText {
        position: absolute;
        top: 2620px;
        left: 116px;
    }
}


@media screen and (max-width: 1507px) {
    .CopyText {
    position: absolute;
        top: 2375px;
        left: 116px;
    }
}

@media screen and (max-width: 1170px) {
    .CopyText {
        position: absolute;
        top: 2280px;
        left: 116px;
    }
}

@media screen and (max-width: 1118px) {
    .CopyText {
        position: absolute;
        top: 2220px;
        left: 116px;
        background-repeat: no-repeat;
    }

    .CopyText h3{
        float: left;
        text-align: left;
        font-size: medium;
        margin-left: 3em;
        text-shadow: 1px 1px #000000;
        width: 300px;
    }
}

@media screen and (max-width: 990px) {
    .CopyText {
        display: none;
    }

    .CopyText h3{
        display: none;
    }

    .selectorIMG  {
        border-radius: 12px;
        border-radius: 20px;
    }
}